*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 80px;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 0px 50px;
}

nav .logo{
    display: flex;
    padding-top: 8px;
    font-size: 35px;
    font-weight: bolder;
}
nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #1b1b1b;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
nav ul li a:hover,
nav ul li a.active{
    color: white;
    background-color: #1b1b1b;
}
nav .menu-btn{
    cursor: pointer;
    display: none;
}
nav .cross-btn{
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}
.searchBG{
    background-image: url(images/background.jpg);
    height: 450px;
    /* width: 300px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 300px 0px 30px 0px;
}


@media (max-width: 940px) {
    nav{
        height: 80px;
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px 0px 0px;
    }
    nav ul{
        
        position: fixed;
        top: 80px;
        right: -100%;
        background-color: #111;
        height: 70vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.5s ease;
    }
    #click:checked ~ ul{
        right: 0%;
    }
    #click:checked ~ .menu-btn{
        display: none;
    }
    #click:checked ~ .cross-btn{
        display: block;
    }
    nav ul li{
        margin-left: 0;
        margin-right: 25px;
    }
    nav ul li a{
        color: white;
        font-size: 20px;
        display: block;
        margin: 20px 5px;

    }
    nav ul li a:hover,
    nav ul li a.active{
        color: cyan;
        background-color: #111;
}
    nav .logo{
        display: flex;
        padding-top: 18px;
        font-size: 20px;
        font-weight: bolder;
    }
    nav .menu-btn{
        cursor: pointer;
        display: block;
    }
    .searchBG{
        background-image: url(images/background.jpg);
        height: 300px; 
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 180px 0px 30px 0px;
    }
}




.details{
    margin-top: 15px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* .details img{
        height: 500px;
        padding-left: 180px;
        padding-right: 180px;
    } */
}

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    .details img{
        height: 600px;
        padding-left: 150px;
        padding-right: 150px;
    }
 }

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) { ... } */


.spancolor{
    color: #ed1c24;
}


.food-cart{
    margin-top: 80px;
}